* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

.main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 50px;
    opacity: 0.8;
    border-radius: 25px;

    color: white;
    background: black;
  }
  
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}  

.input-city{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    flex: 1;
    height: 50px;
    background-color: #7c7c7c2b;
    color: white;
}

.btn-busca{
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    background-color: #7c7c7c2b;
}

.btn-busca i{
    font-size: 20px;
    transition: 0.2s ease-in-out;
    color: white;

}

.btn-busca:hover i{
     color: rgba(255, 255, 255, 0.3); 
}

.city-div{
    margin-top: 30px;
}

.temp{
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
}

.icon-div{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 30px;
    
}

.texto-prev{
    margin-left: 15px;
    text-transform: capitalize;
}

.umidade{
    margin-top: 15px;
    color: #fff;
}

h2{
    font-size: 28px;
    font-weight: 300;
    color: #fff;
}

